@aurochses:registry=https://aurochses.pkgs.visualstudio.com/_packaging/Packages/npm/registry
//aurochses.pkgs.visualstudio.com/_packaging/Packages/npm/:always-auth=true
//aurochses.pkgs.visualstudio.com/_packaging/Packages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI5NThmYmY3MS0zNjkyLTRlYmYtYjNiZC1kZDE4YTgwODNiZmMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzIyNWJiNWYtMTc2OS00MTI1LTg2NmMtOGZlNjcyMDU5ZDJmIiwic2lkIjoiZmRkZTg2MGEtZjM0OC00ZjJmLWJkMWQtMjExYmJiN2NlOWIyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTQ5NDkzNjYzOCwiZXhwIjoxNTAyNzk4OTkwfQ.dCsfhXsVvb4FKj5tWAvukr0qsZk9iNgSHvBA-b1pofbGL2wS5V7lIJlY3jmlif2JhkU28JJmYVS0KdpLRnmfYZUSSsCqtg1RKHuo2r6F7UGXGenZ3L9kbYIrHmSt_2KuJ9Y7dFwXuPSfASZ1L47vLbbZnF4ElBT0-fX1ie8aRmnpCEeNAZTSju9k49FBOp3bp9-5xV7h491Y51GFrY2YN0yKbaYsCmofD_sXcG84q6FT0YS_iAHcaBWpYRWPVZn3glpunZ3N2ESbxSBc7lou0Lg8MpsTXu5EC4ht5SMhPERUa4hp8XG1HwPNS338Ki34UcHbafyntXuN05qWPxxhlw