@import '~@angular/material/theming';

$primary: mat-palette($mat-gray, 500);
$accent:  mat-palette($mat-red, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

$config: mat-typography-config();